@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

b{
	font-weight: normal;
	font-variant: small-caps;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}
